body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 375px;
  justify-content: center;
  background-color: #e87662;
  font-family: sans-serif;
}

.form_holder {
  background-color: white;
  padding: 50px 5px;
  border-radius: 30px;
  display: flex;
  min-width: 350px;
  width: 30vw;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  width: 80%;
  flex-direction: column;
}

form label {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  color: #4d84c9;
}
form input {
  font-size: 1rem;
  outline: none;
  background-color: #ebebeb;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
}

form span {
  color: red;
  margin-bottom: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
}

.form_element.success input {
  border: 3px solid green;
}

.form_element.error input {
  border: 3px solid red;
}

#submit_btn {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  background-color: #e87662;
  border: none;
  border-radius: 16px;
  outline: none;
  padding: 10px;
  color: white;
}

#submit_btn:hover {
  cursor: pointer;
}
